.navbar{
    background-color: #e3f2fd;
    border-radius: 5px;
}
h1{
    padding-left: 5px;
}
.d-flex{
    padding-right: 5px;
}
.img{
    width: 100%;
    margin-top: 0px;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 2px;
}

img{
    
    width: 100%;
    height: 15rem;
    object-fit:inherit;
}

footer{
    margin-bottom: 5px;
    margin-top: 6px;
}

a{
    background-color:rgba(242, 247, 247, 0.732);
    font-size:small;
    float:right;
    position: inherit; 
}

a:hover{
    color: coral;
    font-size:large;
    font-weight: bold;
    cursor:pointer;
}

.card:hover {
    animation: shake 0.3s;  
    animation-iteration-count:0.5;
  }
 .erro{
    font-size: 600px
 }
 .modal{
    background-color: rgba(0, 0, 0, 0.75);
    transition: opacity 250ms ease;
 }
 .modal-body{
  text-align: center;
 }
 #bone{
  color: rgb(235, 144, 25);
 }
 #butaofechar:hover{
  background-color:crimson;
 }
 i:hover{
animation: shake 0.3s;
animation-iteration-count: 0.5;
 }

#burger{
    font-size: 30px;
    background-color:  #e3f2fd;
}
 .d-flex #burger {
    display: none;
  }
  .column{
    display: flex;
    justify-content: center;
  }
  #erro{
    font-size: 200px;
  }
  #numeroPagina{
    padding-left: 8px;
    padding-right: 8px;
  }
  

  @media screen and (max-width: 600px) {
    .d-flex button:not(:first-child) {display: none;}
    .d-flex input {display: none;}
    .d-flex #burger {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .d-flex.responsive {position: relative;}
    .d-flex.responsive {
      position: absolute;
      right: 0;
      top: 0;
    }
    .d-flex.responsive #burger {
      float: none;
      display: block;
      text-align: left;
    }
  }
 /*Aqui é a animação para o tremor das imagens*/
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }